.footer{
    height: 63px;
    width: 1078px;
    border-radius: 0px;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 70px;
}

.previous{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #9E9E9E;
    cursor: pointer;
}

.next{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #9E9E9E;
    cursor: pointer;
}
/* 
.four{
   
    width: 27px;
    height: 27px;
    margin: 15px;
    border-radius: 8px;
}

.five{
   
    width: 27px;
    height: 27px;
    margin: 15px;
    border-radius: 8px;
} */